
ul li{
	padding: 0px;
	margin: 0px;
}
/*顶部区域*/
.sp{
	color: #fc5a6d;
}
/*logo区域*/
.ws{
	background-image: url(../img/header_bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: -16px;
	padding: 0px;
}
.ws div{
	background-color: rgba(0,0,0,0.5);
}
.ws ul{
	margin-left: 0px;
	margin-right: 0px;
}
.ws li{
	list-style: none;
}
#ssk input{
	width: 230px;
	border: 0px #fc5a6d;
}
#ssk{
	height: 45px;
	border: 1px solid black;
	display: inline-block;
	background-color: white;
}

#ssk a{
	border: 1px solid  #fc5a6d;
	background-color: #fc5a6d;
	color: white;
}

#ssk a:hover{
	background-color: white;
	color: #fc5a6d;
}
/*导航栏*/
.wz1 ,ul,li{
	padding: 0px;
}
.wz1{
	background-color: #fc5a6d;	
}
.wz1 i{
	color: #fc5a6d;
}
.wz1 .wz2{
	background-color: white;
}
.swa{
	background-color: #fc5a6d;
}
.ahome{
	background-color: white;
	color: #fc5a6d;
}
.ds1{
	color: white;
	background-color: #fc5a6d;
}
.wz1 .ds1 ul li a{
	line-height: 45px;
	padding: 10px 60px !important;
	font-size: 18px;
}
#menu a:hover{
	display: inline-block;
	background-color: white;
	color: #fc5a6d !important;
	width: 100%;
}


/*Shop*/
.ab1{
	background-image: url(../img/zl/index-banner-002.png);
	background-size: cover;
}
.ab1 .ab2{
	color: #fff;
	font-size: 50px;
	
}
.ab1 span , .ab3{
	color: #fff;
}

.ab4{
	font-size: 30px;
}
video{
	width: 100%;
}

/*Our New Arrivals*/
.wa{
	background-color: black;
}

.wa .h3a{
	color: #fc5a6d;
	font-size: 25px;
	font-weight: bold;
}
.wa .a1{
	width: 30px;
	height: 30px;
	color: white;
	border: 1px solid #fc5a6d;
	background-color: #fc5a6d;
	font-size: 25px;
	margin-right: 20px;
	float: right;
}
.wa .h3a a:hover{
	background-color: white;
	color:  #fc5a6d;
	transition: all 0.5s ease 0s; 
}
.vc1:hover{
	color: #fc5a6d;
}
.ps1{
	margin-top: -8px;
}


/*  Our Featured Products  */
.zbx .zbx1{
	background-color: #fc5a6d;
}
.zbx .zbx1 h4 , .zbx .zbx1 p {
	color: white;
}


/*尾部黑色*/
.m1{
	background-color: black;
}
.m1 li{
	list-style: none; 
}
.m2{
	color: #fc5a6d;
}
.m3{
	color: white;
}
/*最底部*/
.wb1{
	background-color: #fc5a6d;
}
